html, body{
    margin: 0;
    padding: 0;
    /* background: #050036; */
}
@font-face {
    font-family: cosmo;
    src: url('../fonts/cosmo.ttf');
}

header {
    width: 100%;
    position: fixed;
    background: #050038a1;
    z-index: 5;
}
header li {
    display: inline;
    padding: 10px;
}
header a {
    text-decoration: none;
    font-size: 14pt;
    font-family: cosmo;
    color: white;
}